/*--------------------------------------------------------------
# Background Color
--------------------------------------------------------------*/
.backtotop,
#blog-popular-posts .cat-links a,
#posts-banner .grid article .cat-links a,
#blog-latest-posts .cat-links a,
.slick-prev, .slick-next,
.post-categories a,
.single span.cat-links a,
.widget_categories a,
.pagination .page-numbers.current,
.pagination .page-numbers:hover,
.pagination .page-numbers:focus,
.widget_search form.search-form .search-submit:hover,
.widget_search form.search-form .search-submit:focus,
input[type="submit"],
#secondary .jetpack_subscription_widget input[type="submit"]:hover,
#secondary .jetpack_subscription_widget input[type="submit"]:focus,
#secondary .widget.widget_posts_filter ul.tabs li.active a,
.widget_tag_cloud .tagcloud a,
#secondary .widget_tag_cloud .tagcloud a,
.reply a,
.btn:hover,
.btn:focus,
#featured-posts article .entry-container .post-categories a,
.second-design #breaking-news .news-title{
    background-color: #fb3c3c;
}

/*--------------------------------------------------------------
# Color
--------------------------------------------------------------*/
a,
.main-navigation ul.nav-menu li.current-menu-item > a,
.main-navigation ul.nav-menu li:hover > a,
.main-navigation a:hover,
.main-navigation ul.nav-menu > li > a:hover,
.post-navigation a:hover, 
.posts-navigation a:hover,
.post-navigation a:focus, 
.posts-navigation a:focus,
#secondary a:hover,
#secondary a:focus,
#secondary-sidebar a:hover,
#secondary-sidebar a:focus,
#secondary .posted-on a,
#secondary-sidebar .post-categories a,
.posted-on a:hover,
.posted-on a:focus,
.comment-meta .url:hover,
.comment-meta .url:focus,
.comment-metadata a:hover,
.comment-metadata a:focus,
.entry-title a:hover,
.entry-title a:focus,
.byline a:hover,
.byline a:focus,
.site-title a:hover,
.site-title a:focus,
.archive-blog-wrapper article .entry-title a:hover,
#inner-content-wrapper .post-categories a,
span.tags-links a:hover,
span.tags-links a:focus,
.dark-version #secondary a:hover,
.dark-version .main-navigation ul.nav-menu li.current-menu-item > a, 
.dark-version .main-navigation ul.nav-menu li:hover > a,
#colophon ul li a:hover,
.dark-version .entry-title a:hover,
#colophon ul li a:focus {
    color: #fb3c3c;
}

#inner-content-wrapper .post-categories a:hover{
    color: #000;
}

/*--------------------------------------------------------------
# Fill
--------------------------------------------------------------*/
.loader-container svg,
.main-navigation ul.nav-menu li:hover > svg,
.main-navigation li.menu-item-has-children:hover > a > svg,
.main-navigation li.menu-item-has-children > a:hover > svg,
.main-navigation ul.nav-menu > li.current-menu-item > a > svg,
.main-navigation ul.nav-menu > li > a.search:hover svg.icon-search,
.main-navigation ul.nav-menu > li > a.search:focus svg.icon-search,
.main-navigation li.search-menu a:hover svg,
.main-navigation li.search-menu a:focus svg,
.main-navigation li.search-menu a.search-active svg,
.widget svg,
.navigation.posts-navigation a:hover svg, 
.navigation.post-navigation a:hover svg,
.navigation.posts-navigation a:focus svg, 
.navigation.post-navigation a:focus svg {
    fill: #fb3c3c;
}

/*--------------------------------------------------------------
# Border Color
--------------------------------------------------------------*/
#featured-slider .btn,
.btn,
.dark-version .btn,
.pagination .page-numbers.current,
.pagination .page-numbers:hover,
.pagination .page-numbers:focus,
.btn:hover,
.btn:focus,
.dark-version .btn:hover,
.dark-version .btn:focus {
    border-color: #fb3c3c;
}


.dark-version .main-navigation ul.nav-menu > li:hover > a > svg, 
.dark-version .main-navigation ul.nav-menu > li.current-menu-item > a > svg,
.main-navigation ul.nav-menu > li:hover > a > svg,
.main-navigation ul.nav-menu > li.current-menu-item > a > svg {
    fill: #fb3c3c;
}

.entry-title a:hover,
.third-design #posts-banner .entry-title a:hover,
#blog-latest-posts .entry-title a:hover,
.hero-slider-wrapper .entry-title a:hover,
#featured-slider .entry-title a:hover,
#masthead .main-navigation ul.nav-menu li.current-menu-item > a,
#masthead .main-navigation ul.nav-menu > li > a:hover,
.main-navigation ul.nav-menu ul li.current-menu-item > a,
.main-navigation ul.nav-menu ul li:hover > a,
.main-navigation ul.nav-menu ul li:focus > a {
    color: #fb3c3c;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
@keyframes preloader {
    0% {height:5px;transform:translateY(0px);background: #fb3c3c;}
    25% {height:30px;transform:translateY(15px);background: #fb3c3c;}
    50% {height:5px;transform:translateY(0px);background: #fb3c3c;}
    100% {height:5px;transform:translateY(0px);background: #fb3c3c;}
}